a:link {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

p{
  font-family="Sans-serif";
}

img{
  border:50px;
}

html{
  /* background-color: rgba(12, 200, 67, 0.2); */
}

.trymove{
  width:100px;
  height:100px;
  background:pink;
  position:relative;
  animation: leftToRight linear 2s infinite;
  // animation: name duration way-to-move delay time //
}

@keyframes leftToRight {
  0%{
    transform: rotate(0deg);
    top: 0px;
  }
  50%{
    transform: rotate(180deg);
    top: 250px;
  }
  100%{
    transform: rotate(360deg);
    top: 0px;
  }
}

p{
	color: black;
	font-family: "Helvetica";
}

x{
	border-bottom: 1px solid black;
}

body {
	position: relative;
}

.fir {
	/* display: block; */
	width: 200px;
	height: 200px;
	background-color: #CA00AC;
	position: absolute;
	left:0px;
}

.sec {
	/* display: block; */
	width: 200px;
	height: 200px;
	background-color: #61A7F1;
	align: right;
	position: absolute;
	right: 0px;
	top:0px;
}

.thi {
	/* display: block; */
	width: 200px;
	height: 200px;
	background-color: #C1F000;
	position: fixed;
	bottom: 10px;
}

.for {
	/* display: block; */
	width: 200px;
	height: 200px;
	background-color: #A031AC;
	position: fixed;
	bottom: 10px;
	right: 10px;
}

@keyframes first {
  0%{
    transform: rotate(0deg);
    top: 0px;
  }
  50%{
    transform: rotate(180deg);
    top: 250px;
  }
  100%{
    transform: rotate(360deg);
    top: 0px;
  }
}